.navbar {
     margin-bottom: 50px;
     border-radius: 0;

   }

   /* Remove the jumbotron's default bottom margin */
    .jumbotron {
     margin-bottom: 0;
   }

   .navbar navbar-inverse {
     background-color: #56358c
   }
