    // Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carts {
  .item_price, .total_line{
    text-align:  right;
  }

 .total_line .total_cell {
   font-weight: bold;
   border-top: 1px solid #595
 }
}


.candyt{
  text-align: center;
}
.empty{
  float:left;

  color:white;
  width: 95px;
  height: 39px;
  border:0;
  font-size: 16px;
  box-sizing: content-box;
  border-radius: 5px;
}

table{
  align: center;
}

.cartB{
  background-image: url(orderback.jpg);
}
.deletepro{
  padding-left: 15px;
  color:red;
}

.bottomPay{
  float:right;
  background-color:#f66f6a;
  color:white;width: 65px;
  height: 39px;
  border:0;
  font-size: 16px;
  box-sizing: content-box;
  border-radius: 5px;
}
.cartsline{
  border-bottom:1px solid #BBB;
  height: 30px;
}
.order_ac{
  text-align: left;
  list-style:none;
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 16px;
}
