// Place all the styles related to the chocolate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products{
  border-style: outset;
  border-color: #eec6cb;
  padding-left: 107px;

}

.image {
  width: 300px;
  border :25px ;
  border-radius: 25px;
  text-align: center;
}

.title{
  background-color: FF5733;
  width: 300px;
  border :25px ;
  border-radius: 25px;
  text-align: center;
}

.description {
  width: 300px;
  border :25px ;
  border-radius: 25px;
  text-align: center;
}

.shopping{
  width: 300px;
  border :25px ;
  border-radius: 25px;
  text-align: center;
}
