<div class="tablePro">
  <br>
  <br>
  <br>

  <h1 class="newPro">New Product</h1>

  <%= render 'form', product: @product %>

  <%= link_to 'Back', products_path %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
